*{
	box-sizing:border-box;
}
body{
	background-color:white;
}

#header-nav{
	background-color: gray;
	border-radius: 0;
	border:0;
	margin-left:0;
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;
	margin-bottom:15px;
	}

	#collapsable-nav{
	margin:0px;
	padding:0px;	
	}


button{
	position:absolute;
	top:15px;
	right:15px;

}
#header-nav div{
	margin:0px;
	padding:0px;
}

 h2{
	font-size:1.5em bold;
	/*text-align:center;*/
}
#title{
	background-color:white;
	padding:0px;
	margin:0px;
}

#nav-list{
	margin-top:10px;
	padding:0;
	float:left;
	clear:both;
	width:100%;
}
	li{
background-color:lightblue;
border:1px solid black;
	}


section #title,p {
	background-color:grey;
	/*text-align:center;*/
	font-size:1.5em bold;
	position: center;

}

section span{
	font-size:1.8em;
}


/*desktop*/

@media(min-width:992px){
	.fa-bars,#nav-list{
		display:none;
		visibility:hidden;
	}
	
}

/*tab*/
@media(min-width: 768px) and (max-width: 991px){
	.fa-bars,#nav-list{
		display:none;
		visibility: hidden;
	}	
}

/*extra small devices*/

	